
.fontType {
  color: white;
  text-align: right;
  font-family: Inter;
  font-size: 13.234px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 105.785% */
  text-transform: uppercase;
  text-decoration: none;
}
.footerTitle {
  align-self: stretch;
  height: 64.7px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}
.header-container {
    position: static;
    width: 100%;
    padding-left: 16px;
    padding-right: 15.97px;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;

}

.logo-container {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-container {
    width: 100%;
    max-width: 400px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-item {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.donate {
    padding-left: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        align-items: center;
    }
    
    .logo-container {
        margin-bottom: 16px;
        justify-content: center;
    }

    .nav-container {
        max-width: none;
        width: 100%;
    }

    .nav-item, .donate {
        width: 100%; 
        margin-bottom: 8px;
    }
}

.subscribe-container {
  display: flex;
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}
.button-container {
  padding: 5px;
  background: white;
  border-radius: 9999px;
  border: 1px white solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-container button {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  color: #111111;
  font-size: 24.02px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  border: none;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
.footerContent {
  color: white;
  font-size: 13.23px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 14px;
  text-decoration: none;
}
.footerFont {
  width: 62.36px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}
footer {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    background: #111111;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
}

.footer-main-content {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 15.97px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}


.footer-upper-section {
    width: 100%;
    height: 250.69px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}


.newsletter-section {
    width: 100%;
    height: 154.69px;
    padding-left: 20px; 
    padding-right: 20px; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px; 
    display: flex;
}


.footer-navigation {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
}


.footer-bottom-section {
    width: 100%;
    height: 226px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 48px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

@media (max-width: 768px) {
    .footer-upper-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-navigation {
      flex-direction: column;
      align-items: flex-start;
  }

  .footerContent {
      margin-bottom: 60px;
  }
    .newsletter-section,
    .footer-navigation,
    .footer-bottom-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo-container img{
      width: 50%;
      float: right;
    }
    .newsletter-section img {
        width: 100%; 
    }

    .footer-navigation a {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.title-text{
    color: white; font-size: 30px; font-family: Inter; font-weight: 600; line-height: 37px;width: auto;
}
.subtitle-text{
    color: white; font-size: 15.38px; font-family: Inter; font-weight: 500; line-height: 19.20px;
}